body {
	background: #e9e7c5;
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	min-height: 100vh;
	margin: auto;
	padding: 1rem;

	img {
		align-self: flex-start;
	}

	@media only screen and (max-width: 640px) {
		width: 100%;
		padding: 0;
	}
}